# Python virtual environment
venv/
.venv/
backend/venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*

# Django
db.sqlite3

# Node
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/